[Unit]
Description=App Service (%i)
After=network.target

[Service]
Type=simple
User=apps
Group=apps
WorkingDirectory=/srv/apps/%i/current
EnvironmentFile=/srv/apps/%i/shared/.env

ExecStart=/srv/apps/%i/current/%i

Restart=on-failure
RestartSec=2
KillSignal=SIGTERM
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target

